@import "../../styles/_variables.scss";

.auth-side__wrapper {
  padding: $auth-side-padding;
  width: $control-side-width;
}

.auth-side__img {
  display: block;
  margin: $margin-center;
}
