@import "../../styles/_variables.scss";

.input {
    display: flex;
    flex-direction: column;
}

.input__label {
    margin-bottom: $form-label-margin-bottom;
    color: $main-blue-color;
    font-weight: $form-font-weight;
}

.input__field {
    border: none;
    padding: $form-input-padding;
    margin-bottom: $form-margin-bottom;
    height: $form-input-height;
    background: $form-input-bkg;
    border-radius: $form-input-border-radius;
}

