@import "../../styles/_variables.scss";

.button {
    border: none;
    padding: $button-padding;
    font-size: $button-font-size;
    color: $button-white-color;
    background: $main-blue-color;
    border-radius: $button-border-radius;
}