@import "../../styles/_variables.scss";

.padding {
  padding: $main-padding;
  overflow-y: scroll;
}

.order-list {
  list-style: none;
  padding: $list-padding;
}

.order-list__item {
  padding: $list-padding;
  margin-bottom: $default-margin-bottom;
}

.order-list__item--active {
  background-color: $light-green-color;
}

.order-list__item--confirmed {
  background-color: $confirmed-blue-color;
}

.order-list__item--completed {
  background-color: $light-grey-color;
}
::-webkit-scrollbar {
  width: $scrollbar-width;
  background-color: $light-grey-color;
}

::-webkit-scrollbar-thumb {
  border-radius: $scrollbar-thumb-border-radius;
  background-color: $main-blue-color;
}
