@import "../../styles/_variables.scss";

.control-side__tab {
  display: flex;
  padding: $tabs-padding;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background: $light-blue-color;
}
