@import "../../styles/_variables.scss";

.rent-form {
  display: flex;
  flex-direction: column;
  font-size: $rent-form-font-size;
}

.rent-form__fields-wrapper {
  display: flex;
  margin-bottom: $default-margin-bottom;
}

.rent-form__label {
  margin-right: $rent-form-label-margin-right;
  font-size: $rent-form-label-font-size;
  color: $dark-blue-color;
}

.form-rent__input {
  border: none;
  color: $main-blue-color;
}

.rent-form__question {
  color: $main-blue-color;
}
