$main-blue-color: #0277bd;
$dark-blue-color: rgba(2, 119, 189, 0.5);
$light-blue-color: #e6f1f8;
$light-green-color: lightgreen;
$confirmed-blue-color: rgba(2, 119, 189, 0.1);
$light-grey-color: lightgrey;
$button-white-color: white;
$main-white-color: white;
$center-list-color: rgb(3, 67, 151);

$map-width: 60%;
$illustration-lock-width: 60%;

$scrollbar-width: 4px;
$scrollbar-thumb-border-radius: 10px;

$button-padding: 5px 10px;
$button-border-radius: 6px;
$button-font-size: 24px;

$center-list-padding: 10px 15px;
$center-list-bkg-color: $light-blue-color;

$animate: all 0.2s;
$main-padding: 10px 40px;
$list-padding: 5px 10px;
$default-margin-bottom: 10px;
$margin-center: 0 auto;

$auth-side-padding: 40px 20px;
$auth-form-margin: 50px;
$auth-form-size: 32px;

$control-side-width: 40%;

$city-list-border-radius: 56px;
$city-list-padding: 3px 5px;

$tab-min-height: 95px;

$form-font-weight: 700;
$form-input-bkg: #f2f2f2;
$form-input-padding: 15px;
$form-margin-bottom: 12px;
$form-input-height: 40px;
$form-input-border-radius: 6px;
$form-label-margin-bottom: 3px;

$nav-btn-size: 55px;

$rent-form-font-size: 24px;
$rent-form-label-font-size: 18px;
$rent-form-label-margin-right: 5px;

$tabs-padding: 20px;
