@import "../../styles/_variables.scss";

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: $auth-form-margin;
}
.auth-form__separator {
    text-align: center;
    font-size: $auth-form-size;
    color: $main-blue-color;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.invisible {
    display: none;
}

