@import "../../styles/_variables.scss";

.control-side {
  display: flex;
  flex-direction: column;
  width: $control-side-width;
  height: 100vh;
  background-color: $main-white-color;
}

.control-side__tab-wrapper {
  display: flex;
  width: 100%;
  min-height: $tab-min-height;
}

.control-side__main-wrapper {
  padding: $main-padding;
  overflow-y: scroll;
}

.orders-wrapper {
  padding: $main-padding;
}
