@import "../../styles/_variables.scss";

.center-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.center-list__item {
  display: flex;
  padding: $center-list-padding;
  flex-direction: column;
  background-color: $center-list-bkg-color;
  margin-bottom: $default-margin-bottom;
}

.center-list__title-wrapper {
  display: flex;
  align-items: baseline;
}

.center-list__title {
  font-weight: normal;
  color: $center-list-color;
}

.center-list__contetn-wrapper {
  display: flex;
  justify-content: space-between;
}

.center-list__additional-info {
  color: $main-blue-color;
}

.center-list__adress, .center-list__bikes-count {
  color: $center-list-color;
}

.center-list__link {
  text-decoration: none;
}
