@import "../../styles/_variables.scss";

.city-list {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    margin-bottom: $default-margin-bottom;
}

.city-list__item {
    padding: $city-list-padding;
    color: $main-blue-color;
    border: 1px solid $main-blue-color;
    border-radius: $city-list-border-radius;
    transition: $animate;
}

.city-list__item--active {
    transition: $animate;
    color: $main-white-color;
    background-color: $main-blue-color;
}

/* ::-webkit-scrollbar {
    width: 3px;
    background-color: grey;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0277BD;
} */